.App{
  position: relative;
  width:100%;
  height:100vh;
  overflow:hidden;
  background-color: pink;
}

.RotateText{
  position: absolute;
  bottom:-100px;
  left:-50px;
}

.FlipText{
  width:100%;
  position: absolute;
  bottom:200px;
}